h3{
  color: #333;
}
table > thead > tr > th {
  color: #999;
}
/**
*Bootstrap上書き
*/
/****ヘッダー部分のデザイン*****/
.navbar{
  border-radius: 0;
  background-color: #5cb85c;
}
.navbar-toggle{
  background-color: #fff;
  border: 1px solid #ccc;
}
.navbar-nav > li > a {
  color: #ffffff;
}
.navbar-nav > li {
  color: #ffffff;
}
.nav > li > a:visited,
.nav > li > a:hover,
.nav > li > a:active {
  color: #fff;
  background-color: #76D276;
}
.navbar-header > a{
  color: #fff;
}
.icon-bar{
  background-color: #fff;
}
.navbar-toggle{
  background-color: #5cb85c;
  border: 1px solid #fff;
}
.navbar-toggle:hover{
  background-color: #76D276;
}
.progress {
    box-shadow: inset 0 5px 32px rgba(0, 0, 0, .1);
}
/****end ヘッダー部分のデザイン*****/
/****ログインパネル部分のデザイン*****/
.panel-default {
  border-color: #5cb85c;
}
.panel-default > .panel-heading {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-default:hover,
.btn-default:active:focus {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
/****end ログインパネル部分のデザイン*****/
/****ユーザー画面部分のデザイン*****/
.btn-default {
  color: white;
  border-color: #5cb85c;
  background-color: #5cb85c;
}
.btn-default:hover {
  background-color: #76D276;
}
.btn-default a{
  color: #fff;
}
.btn-default a:hover{
  text-decoration: none;
}
.color-wh{
  color: #fff;
}
.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}
.pad-10p{
  padding: 10%;
}
.pad-25{
  padding: 25px;
}
.mar-le-10{
  margin-left: 10px;
}
.img-50{
  width: 50px;
  height: 50px;
}
.img-100{
  width: 100px;
  height: 100px;
}
.font-b{
  font-weight: bold;
}
.font-24{
  font-size: 24px;
}
.font-14{
  font-size: 14px;
}
.min-w-120{
  min-width: 120px;
}
.min-w-50{
  min-width: 50px;
}
.ajaxFav{
  cursor: pointer;
}
/****end ユーザー画面部分のデザイン*****/
/****タグのデザイン*****/
.badge{
  padding: 1px 4px;
  font-weight: normal;
  color: #5cb85c;
  background-color: #fff;
  margin-left: 3px;
}
/****end タグのデザイン*****/
/****いいね！のデザイン*****/
.favChecked{
  color: #ff2d55;
}
/****end いいねのデザイン*****/
/****エラーメッセージのデザイン*****/
.error-message{
  color: #ff0000;
}
/****end エラーメッセージのデザイン*****/
