html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  display: table;
}
body {
  display: table-cell;
  vertical-align: middle;
  font-family: "graphik-lt", "PingFangTC-Light", "Noto Sans Light";
}
body {
  background: linear-gradient(to bottom right, #91FE87, #47CF3F, #6DDFE2)
}
h2, h3 {
  margin: 15px;
  margin-bottom: 35px;
  text-align: center;
}
.form-group {
  margin: 15px;
  margin-bottom: 35px;
}
.panel-body {
  padding-left: 35px;
  padding-right: 35px;
}
.login-title {
  color: #58BE89;
}
.login-button {
  margin-bottom: 25px;
}
.text-gray {
  color: #999;
}
.panel-default {
  border-color: #fff;
}

